.container{
    width: 500px;
    height: 400px;
    position: absolute;
}
.video{
    width: 100%;
}
.controles{
    text-align: center;
    position: relative;
    top: 100%;
    transform: translateY(-120%);
    width: 100%;
    height: 100%;
    /* background-color: red; */
}
.btn{
    padding: 10px;
    cursor: pointer;
}